 .main{
            height: 100vh;
        }
        .header{
                height: 20%;
        }

        .content{
            height: 70%;
        }

        .footer{
            height: 10%;
            background-color: blue;
        }

        .photo{
                height: 80%;
                width: 10%;
                float: left;
        }

        .logos{
            height: 100%;
            width: 50%;
            position: relative;
            left: 750px;
        }

        .logos ul li {
        display: inline-block;
        margin-right: 20px;
        }
        
        .sidebar{
            width: 15%;
            height: 100%;
            background-color: red;
            float: left;
            text-align: center;
            font-weight: bolder ;
            font-size: large;
        }
        .side_content{
            width: 85%;
            height: 100%;
            float: left;
        }
        .photorow{
            height: 25%;
            width: 95%;
            margin: 1%
        }
        .photo1{
            width: 10%;
            height: 100%;
            float: left;
            margin-left: 10px;
            margin-top: 10px;
        }
        .photo2{
            width: 10%;
            height: 100%;
            float: left;
            margin-left: 10px;
            margin-top: 15px;
        }
        .name{
            height: 40%;
            width: 110%;
        }
        .sidebarcol{
            border-style: solid;
            height: 15.5%;
            margin-bottom: 2%;
            border-color: yellow;
        }
        .sidebarcospecial{
            border-style: solid;
            height: 6%;
            margin-bottom: 2%;
            border-color: yellow;
        }
        .text2{
            text-align: center;
            color: antiquewhite;
            font-size: x-large;        
}

